#root {
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar-custom {
  /* width: 100%; */
  background-color: black;
}

@font-face {
  font-family: "Skyrim"; /*Can be any text*/
  src: local("DorovarflfCarolus-axyg.ttf"),
    url(./fonts/DorovarflfCarolus-axyg.ttf), format("truetype");
}
