.masthead-contact {
  /* position: relative; */
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.7) 75%,
      #000 100%
    ),
    url("../assets/map.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  top: 0;
  left: 0;
  z-index: -1;
}

.contacts {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(13, 13, 13, 1) 100%
  );
  border-radius: 10px;
  padding: 6rem;
  padding-top: 10rem;
  border: transparent;
  height: 880px;
}

.heading {
  color: #ffffff;
  font-size: 56px;
  font-family: "skyrim", fantasy;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.hours {
  color: #ffffff;
  text-align: center;
  line-height: 2rem;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
  font-size: 24px;
  /* letter-spacing: 0.25px; */
  padding: 3rem 0 4rem 0;
}

#pidgeon {
  background-image: url("../assets/pidgeon2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 880px;
}

.img-container {
  width: 50%;
}

.bottom {
  font-size: 20px;
  line-height: 1rem;
  text-align: center;
}
