body {
  background-image: url("../assets/meadhall1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
  opacity: 1;
  transform: scale(1.05);
  transition: 0.4s ease-in-out all;
  cursor: pointer;
}

.card {
  box-shadow: 12px 12px 10px rgb(1, 4, 33);
}

.img-container {
  object-fit: cover;
  max-height: 237px;
  border-radius: 4px;
}

#horker {
  background-image: url("../assets/horkerStew.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
}

#seared {
  background-image: url("../assets/slaughterFish.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
}

#skeever {
  background-image: url("../assets/charredSkeever.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
}

#crab {
  background-image: url("../assets/crab2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
}

#cheese {
  background-image: url("../assets/cheeseWheel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
}

#sweetroll {
  background-image: url("../assets/sweetroll.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
}
