body {
  background-color: black;
  /* background-image: url("../assets/meadhall1.jpg");
  background-size: cover; */
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  height: 100vw;
}

img {
  object-fit: cover;
}

.cards {
  margin: 1.5rem auto;
  padding: 1rem;
  display: grid;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  max-width: 2300px;
  padding-top: 3rem;
}

.card-body {
  margin-top: 1rem;
  padding: 2rem 0 2em 2rem !important;
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card:hover {
  opacity: 1;
  transform: scale(1.05);
  transition: 0.4s ease-in-out all;
  cursor: pointer;
}

.card {
  box-shadow: 12px 12px 10px rgb(0, 0, 0);
  background-size: calc(100% + 1px) 100%;
  background: linear-gradient(
    0deg,
    rgba(69, 69, 69, 1) 0%,
    rgba(125, 124, 124, 1) 100%
  );
  color: white;
  border: transparent;
  padding: 0 !important;
}

.img-container {
  object-fit: cover;
  /* max-height: 300px; */
  border-radius: 4px;
}

#horker {
  background-image: url("../assets/horkerStew.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
}

#seared {
  background-image: url("../assets/slaughterFish.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
}

#skeever {
  background-image: url("../assets/charredSkeever.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
}

#crab {
  background-image: url("../assets/crab2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
}

#cheese {
  background-image: url("../assets/cheeseWheel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
}

#sweetroll {
  background-image: url("../assets/sweetroll.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
}
